## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
a=4
b=7
c=b**a
print(c)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s="Hi there Sam!"
n=s.split(" ")
print(n)

['Hi', 'there', 'Sam!']

In [3]:
s="Hi there dad!"
n=s.split(" ")
print(n)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
v="The diameter of {planet} is {diameter} kilometers."
k=v.format(planet="Earth",diameter=12742)
print(k)

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst =[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [12]:
tuple is immutable, and list is mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [16]:
def domainGet(email):
  print(email.split('@')[-1])
email=input("please enter your email:>")
domainGet(email)

please enter your email:>user@domain.com
domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [18]:
def findDog(st):
  if'dog' in st.lower():
    print("True")
  else:
      print("False")
st=input("Please key a string:>")
findDog(st)

Please key a string:>Dog
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [35]:
string=input("Enter your string:")
substring = "dog"
count = string.count(substring)
print("The count is:", count)

Enter your string:dogs dog dog
The count is: 3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [38]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [41]:
print("Enter the speed(km/h)(only member phase):\n")
speed=int(input(">"))
print("Enter your birthday:(in DD/MM/YYYY format)\n")
is_birthday=str(input(">"))
def caught_speeding(speed, is_birthday):
    
    if is_birthday=='28/07/2000':
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding <=60:
        print("no ticket")
    elif speeding>61 and speeding<=80:
      print("Small Ticket")
    else:
      print("Big Ticktet")
caught_speeding (speed,is_birthday)

Enter the speed(km/h)(only member phase):

>100
Enter your birthday:(in DD/MM/YYYY format)

>27/09/2001
Big Ticktet

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [42]:
def weeklyPaid(hours_worked, wage):
    if hours_worked > 40:
        return 40 * wage + (hours_worked - 40) * wage * 1.5
    else:
        return hours_worked * wage
 
 
hours_worked = 24
wage = 1000
 
pay = weeklyPaid(hours_worked, wage)
 
print(f"Total slaery expenditure: Rs.{pay:.2f} ")

Total slaery expenditure: Rs.24000.00

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [45]:
def Merge(dict1, dict2):
    res = {**dict1, **dict2}
    return res  
# Driver code
dict1 = {'EmpName': 'Dash Santosh','Empid':'1931011', 'Basicpay': 25000}
dict2 = {'depname': 'production', 'depid': 327}
dict3 = Merge(dict1, dict2)
print(dict3)
{'EmpName': 'Dash Santosh', 'Empid': '1931011', 'Basicpay': 25000, 'depname': 'production', 'depid': 327}

{'EmpName': 'Dash Santosh', 'Empid': '1931011', 'Basicpay': 25000, 'depname': 'production', 'depid': 327}

{'EmpName': 'Dash Santosh',
 'Empid': '1931011',
 'Basicpay': 25000,
 'depname': 'production',
 'depid': 327}